ClienteWeb/Connected Services/SW/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="suma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="resta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multiplicacionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="divicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="divicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="divicionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="raiz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="raizResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="raizResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="exponente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="exponenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="exponenteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inversa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inversaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inversaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="factorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="factorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="factorialResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logaritmo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logaritmoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logaritmoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorAbsoluto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorAbsolutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorAbsolutoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="sumaSoapIn">
    <wsdl:part name="parameters" element="tns:suma" />
  </wsdl:message>
  <wsdl:message name="sumaSoapOut">
    <wsdl:part name="parameters" element="tns:sumaResponse" />
  </wsdl:message>
  <wsdl:message name="restaSoapIn">
    <wsdl:part name="parameters" element="tns:resta" />
  </wsdl:message>
  <wsdl:message name="restaSoapOut">
    <wsdl:part name="parameters" element="tns:restaResponse" />
  </wsdl:message>
  <wsdl:message name="multiplicacionSoapIn">
    <wsdl:part name="parameters" element="tns:multiplicacion" />
  </wsdl:message>
  <wsdl:message name="multiplicacionSoapOut">
    <wsdl:part name="parameters" element="tns:multiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="divicionSoapIn">
    <wsdl:part name="parameters" element="tns:divicion" />
  </wsdl:message>
  <wsdl:message name="divicionSoapOut">
    <wsdl:part name="parameters" element="tns:divicionResponse" />
  </wsdl:message>
  <wsdl:message name="raizSoapIn">
    <wsdl:part name="parameters" element="tns:raiz" />
  </wsdl:message>
  <wsdl:message name="raizSoapOut">
    <wsdl:part name="parameters" element="tns:raizResponse" />
  </wsdl:message>
  <wsdl:message name="exponenteSoapIn">
    <wsdl:part name="parameters" element="tns:exponente" />
  </wsdl:message>
  <wsdl:message name="exponenteSoapOut">
    <wsdl:part name="parameters" element="tns:exponenteResponse" />
  </wsdl:message>
  <wsdl:message name="inversaSoapIn">
    <wsdl:part name="parameters" element="tns:inversa" />
  </wsdl:message>
  <wsdl:message name="inversaSoapOut">
    <wsdl:part name="parameters" element="tns:inversaResponse" />
  </wsdl:message>
  <wsdl:message name="factorialSoapIn">
    <wsdl:part name="parameters" element="tns:factorial" />
  </wsdl:message>
  <wsdl:message name="factorialSoapOut">
    <wsdl:part name="parameters" element="tns:factorialResponse" />
  </wsdl:message>
  <wsdl:message name="logaritmoSoapIn">
    <wsdl:part name="parameters" element="tns:logaritmo" />
  </wsdl:message>
  <wsdl:message name="logaritmoSoapOut">
    <wsdl:part name="parameters" element="tns:logaritmoResponse" />
  </wsdl:message>
  <wsdl:message name="valorAbsolutoSoapIn">
    <wsdl:part name="parameters" element="tns:valorAbsoluto" />
  </wsdl:message>
  <wsdl:message name="valorAbsolutoSoapOut">
    <wsdl:part name="parameters" element="tns:valorAbsolutoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="suma">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">suma de 2 numeros </wsdl:documentation>
      <wsdl:input message="tns:sumaSoapIn" />
      <wsdl:output message="tns:sumaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="resta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">resta de 2 numeros </wsdl:documentation>
      <wsdl:input message="tns:restaSoapIn" />
      <wsdl:output message="tns:restaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="multiplicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">multiplicacion de 2 numeros </wsdl:documentation>
      <wsdl:input message="tns:multiplicacionSoapIn" />
      <wsdl:output message="tns:multiplicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="divicion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">divicion de 2 numeros</wsdl:documentation>
      <wsdl:input message="tns:divicionSoapIn" />
      <wsdl:output message="tns:divicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="raiz">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">raiz cuadrada de un numero</wsdl:documentation>
      <wsdl:input message="tns:raizSoapIn" />
      <wsdl:output message="tns:raizSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="exponente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">a elevado a la b </wsdl:documentation>
      <wsdl:input message="tns:exponenteSoapIn" />
      <wsdl:output message="tns:exponenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="inversa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">inversa de a (1/a)</wsdl:documentation>
      <wsdl:input message="tns:inversaSoapIn" />
      <wsdl:output message="tns:inversaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="factorial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">factorial de un numero </wsdl:documentation>
      <wsdl:input message="tns:factorialSoapIn" />
      <wsdl:output message="tns:factorialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logaritmo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">logaritmo base 10 de un numero log10(x) </wsdl:documentation>
      <wsdl:input message="tns:logaritmoSoapIn" />
      <wsdl:output message="tns:logaritmoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="valorAbsoluto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">valor absoluto de x </wsdl:documentation>
      <wsdl:input message="tns:valorAbsolutoSoapIn" />
      <wsdl:output message="tns:valorAbsolutoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suma">
      <soap:operation soapAction="http://tempuri.org/suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resta">
      <soap:operation soapAction="http://tempuri.org/resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicacion">
      <soap:operation soapAction="http://tempuri.org/multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divicion">
      <soap:operation soapAction="http://tempuri.org/divicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raiz">
      <soap:operation soapAction="http://tempuri.org/raiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exponente">
      <soap:operation soapAction="http://tempuri.org/exponente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inversa">
      <soap:operation soapAction="http://tempuri.org/inversa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="factorial">
      <soap:operation soapAction="http://tempuri.org/factorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logaritmo">
      <soap:operation soapAction="http://tempuri.org/logaritmo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="valorAbsoluto">
      <soap:operation soapAction="http://tempuri.org/valorAbsoluto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suma">
      <soap12:operation soapAction="http://tempuri.org/suma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resta">
      <soap12:operation soapAction="http://tempuri.org/resta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicacion">
      <soap12:operation soapAction="http://tempuri.org/multiplicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divicion">
      <soap12:operation soapAction="http://tempuri.org/divicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raiz">
      <soap12:operation soapAction="http://tempuri.org/raiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exponente">
      <soap12:operation soapAction="http://tempuri.org/exponente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inversa">
      <soap12:operation soapAction="http://tempuri.org/inversa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="factorial">
      <soap12:operation soapAction="http://tempuri.org/factorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logaritmo">
      <soap12:operation soapAction="http://tempuri.org/logaritmo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="valorAbsoluto">
      <soap12:operation soapAction="http://tempuri.org/valorAbsoluto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://www.jhoswa.somee.com/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://www.jhoswa.somee.com/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>